  <form action="/square/results" method="get">
    <div><label for="number">Enter a number</label></div>
    <input id="number" name="number" type="text" />
   <div> <button>Calculate square</button></div>
  </form>
