  <form action="/square_root/results" method="get">
    <div><label for="number">Enter a number</label></div>
    <input id="number" name="number" type="text" />
   <div> <button>Calculate square root</button></div>
  </form>



